Menentukan Library

In [37]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

Load Dataset

In [38]:
data = pd.read_csv('penguins_size.csv')

In [39]:
data.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [40]:
rubah = LabelEncoder()

In [41]:
data['island'] = rubah.fit_transform(data['island'].values)
data['sex'] = rubah.fit_transform(data['sex'].values)
data['species'] = rubah.fit_transform(data['species'].values)

In [42]:
data_drop = data.dropna()

data_drop.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,2,39.1,18.7,181.0,3750.0,2
1,0,2,39.5,17.4,186.0,3800.0,1
2,0,2,40.3,18.0,195.0,3250.0,1
4,0,2,36.7,19.3,193.0,3450.0,1
5,0,2,39.3,20.6,190.0,3650.0,2

Keterangan :

species {0 = Adelia, 1 = Chinstrap dan 2 = Gentoo}

island {0 = Biscoe ,1 = Dream dan 2 = Torgersen}

sex {1 = FEMALE dan 2 = MALE}

In [43]:
data_drop['species'].value_counts()

0    151
2    123
1     68
Name: species, dtype: int64

In [44]:
data_drop['island'].value_counts()

0    167
1    124
2     51
Name: island, dtype: int64

In [45]:
X = data_drop.drop (columns='species', axis=1)
Y = data_drop['species']

In [46]:
print(X)

     island  culmen_length_mm  culmen_depth_mm  flipper_length_mm  \
0         2              39.1             18.7              181.0
1         2              39.5             17.4              186.0
2         2              40.3             18.0              195.0
4         2              36.7             19.3              193.0
5         2              39.3             20.6              190.0
..      ...               ...              ...                ...
338       0              47.2             13.7              214.0
340       0              46.8             14.3              215.0
341       0              50.4             15.7              222.0
342       0              45.2             14.8              212.0
343       0              49.9             16.1              213.0

     body_mass_g  sex
0         3750.0    2
1         3800.0    1
2         3250.0    1
4         3450.0    1
5         3650.0    2
..           ...  ...
338       4925.0    1
340       4850.0    1
341       5750.0    2
342       5200.0    1
343       5400.0    2

[342 rows x 6 columns]

In [47]:
print(Y)

0      0
1      0
2      0
4      0
5      0
      ..
338    2
340    2
341    2
342    2
343    2
Name: species, Length: 342, dtype: int32

Memisahkan Data Testing dan Training

In [53]:
X_train, X_test, Y_train, Y_test = train_test_split (X, Y, test_size = 0.2, stratify=Y, random_state=500)

In [54]:
print(X.shape, X_train.shape, X_test.shape)

(342, 6) (273, 6) (69, 6)

Membuat Data Latih Menggunakan Algoritma  SVM

In [55]:
model = GaussianNB()

In [56]:
model.fit(X_train, Y_train)

GaussianNB()

Membuat Model Evaluasi Untuk Mengukur Tinggi Akurasi

In [59]:
print('Akurasi data training =', model.score(X_train, Y_train))

Akurasi data training = 0.978021978021978

Membuat Model Prediksi

In [62]:
input_data = (0, 42.7, 13.7, 208, 3950, 1)
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshape)
print(prediction)

if (prediction==2):
  print('2')
elif (prediction==1):
  print('1')
else:
  print('0')

[2]
2

c:\Users\Nuryadi01\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

Simpan Model

In [63]:
import pickle 
filename = 'penguins_model.sav'
pickle.dump(model, open(filename, 'wb'))